* {
    box-sizing: border-box;    
}

body {
    margin: 0;
}

.section, .header, .footer {
    padding: 0 10%;
    width: 100%;
}

.footer, .header {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
}

.footer {
    justify-content: center;
}

.header {
    justify-content: space-between;
    position: fixed;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    padding: 10px 30px;
    margin: 20px 0;
    display: inline-block;
}

.header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header li {
    padding: 0 10px;
}

.container {
   display: flex; 
   align-items: center;
   justify-content: space-between;
   gap: 30px;
   padding: 20px;
}

.two .container {
    flex-wrap: wrap;
}

.item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
}

.image-header {
    width: 40%;
    height: 40%;
    flex-shrink: 0;
}

.image-info {
    width: 100%;
    flex-shrink: 0;
}

.quote {
    margin: 0 10%;
    padding: 20px;    
}

.callout {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
}