body {
    font-family: "Roboto", sans-serif;
    background-color: #101010;
}

.footer, .header {
    background-color: #101010aa;
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    color: #101010;
}

 a {
    color: white;
    text-decoration: none;
}

.footer, .one {
    background-color: #101010;
    color: white;
}

.one {
    color: #e5e7eb;
}

.two, .four {
    background-color: white;
}

.three {
    background-color: #e5e7eb;
    color: #101010;
}

.button a {
    font-weight: 700;
}

.button {
    background-color: #ffc71b;
    border-radius: 10px;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}

.header ul {
    font-size: 18px;
}

.quote p {
    font-size: 30px;
    font-style: italic;
    font-family: "Georgia", serif;
}

.quote .author {
    text-align: right;
    font-weight: 700;
    font-size: 24px;
}

.callout {
    background-color: #ffc71b;
    border-radius: 15px;
}

.callout .button a {
    color: black;
}

.callout .button {
    border: 3px solid black;
}
