body {
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

.footer, .header {
    background-color: #1F2937aa;
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    color: #1f2937;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.footer, .one {
    background-color: #1F2937;
    color: white;
}

.one {
    margin-top: 50px;
    color: #e5e7eb;
}

.two, .four {
    background-color: white;
}

.three {
    background-color: #e5e7eb;
    color: #1f2937;
}

.button a {
    font-weight: 700;
}

.button {
    background-color: #3882f6;
    border-radius: 10px;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}

.header ul {
    font-size: 18px;
}

.quote p {
    font-size: 30px;
    font-style: italic;
    font-family: "Georgia", serif;
}

.quote .author {
    padding: 10px;
    text-align: right;
    font-weight: 700;
    font-size: 24px;
}

.callout {
    background-color: #3882f6;
    border-radius: 15px;
    color: white;
}

.callout .button {
    border: 2px solid white;
}
